.painting-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}


@media (max-width: 900px) {
  .painting-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobiel: 1 per rij */
@media (max-width: 600px) {
  .painting-grid {
    grid-template-columns: 1fr;
  }
}
