@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$yellow-palette,
      // of $orange-palette, $amber-palette, check beschikbare palettes
      typography: Roboto,
      density: 0,
    )
  );

  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}
